version: "3.9"

services:
  backend:
    build:
      context: ./server
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: "mongodb://mongo:27017/AlgoArena"
      PORT: 5000
      JWTSECRET: "jasserlkalb"
      NODE_ENV: "dev"
    depends_on:
      - mongo
    volumes:
      - ./server:/app
      - /app/node_modules
  frontend:
    build:
      context: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
